<div class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Has click si quieres ser transporita en <a href="#" class="footer_link"> CarGO</a>
    </div>
  </div>
  <div class="row">
    <a href="#">Nosotros</a>
    <a href="#">Legales</a>
    <a href="#">Contactenos</a>
    <a href="#">Califica su experiencia</a>
  </div>
</div>
