<footer class="footer text-center position-relative">
    <%= image_tag "footer-line.jpg", class: "img-fluid fixed-top" %>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                <div class="mx-2">
                    <%= image_tag "logo-bn.png", class: 'w-25'  %>
                </div>
                <div class="m-2">
                    <p class="link-dark text-decoration-none me-3">Copyright &copy; Cargo.com</p>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Nosotros</a>
                <a class="link-dark text-decoration-none" href="#!">Términos de uso</a>
            </div>
        </div>
    </div>
</footer>
