<div class=" container col-6">
  <div class="row carrier-show radius mt-4 p-4 text-center">
    <header>Listado de Solicitudes de Carga</header>
  </div>
</div>

  <div class="col-6 text-center mt-3">
  <%= link_to "Publicar solicitud de carga", new_freight_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container" data-controller="search-freights">
  <%= form_with url: freights_path, method: :get, html: {class:
    "mb-4", data: {search_freights_target: "form"}} do |f| %>
    <%= f.text_field :query,
                     class: "form-control mt-3",
                     placeholder: "Ingrese la ubicacion de la solicitud",
                     value: params[:query],
                     data: {search_freights_target: "input",
                            action: "keyup->search-freights#update"
                          }%>
  <% end %>

    <!-- Busqueda de Freights --->
    <%= render "shared/list_freigths", freights: @freights %>
</div>
