.carriers{
  background-color: white;
}

.carriers h2{
  margin: 0;
  color: rgb(47, 49, 49);
  font-size: 30px;
  font-weight: bold;
}

.carriers h4{
  margin: 0;
  color: rgb(249, 87, 50);
  font-size: 20px;
  font-weight: bold;
}

.carriers h6{
  margin: 0;
  color: white;
}

.carriers p{
  margin: 0;
  color: white;
}

.carriers-info{
  background-color: rgb(47, 49, 49);
}
