.carrier-show{
  background-color: rgb(47, 49, 49);
  margin: 0;
  color: white;
}

.radius-top{
  border-radius: 10px 10px 0 0;
}

.radius-bottom{
  border-radius: 0 0 10px 10px;
}

.radius{
  border-radius: 10px 10px 10px 10px;
}

.carrier-show h2{
  margin: 0;
  color: rgb(47, 49, 49);
  font-size: 30px;
  font-weight: bold;
}

.carrier-show h3{
  margin: 0;
  color: white;
  font-size: 25px;
}

.carrier-show header{
  margin: 0;
  color: rgb(249, 87, 50);
  font-size: 25px;
  font-weight: bold;
}

.carrier-show h4{
  margin: 0;
  color: rgb(249, 87, 50);
  font-size: 20px;
  font-weight: bold;
}

.carrier-show h5{
  margin: 0;
  color: white;
}

.carrier-show h6{
  margin: 0;
  color: white;
}

.carrier-show i{
  margin: 0;
  color: rgb(0, 176, 89);
}

.carrier-show strong{
  margin: 0;
  color: rgb(249, 87, 50);
}

.border{
  border-radius: 10px;
  border-color: rgb(47, 49, 49) !important;
}

.margin-bottom{
  margin-bottom: 200px;
}

.image-tag {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
