/* .footer {
  background: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  // min-height: calc(100vh - 40px - 50px);
  padding: 15px 150px;
  color: rgba(0,0,0,0.3);
  margin-top: 10px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .footer-link {
  color: rgb(0, 176, 89);
} */

.footer {
  background-color: rgba(255, 255, 255, 0.603);
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.modal-fullscreen-xl-down .modal-footer {
  border-radius: 0;
}
.modal-fullscreen-lg-down .modal-footer {
  border-radius: 0;
}
.modal-fullscreen-md-down .modal-footer {
  border-radius: 0;
}
.modal-fullscreen-sm-down .modal-footer {
  border-radius: 0;
}
.modal-fullscreen-xxl-down .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.btn-social {
  border-radius: 50%;
}
