.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  height: 90px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 150px;
}
.barra-de-busqueda {
 width: 2000px;
}
.boton-login{
  color: rgb(255, 255, 255);
}
