.navbar-lewagon {
  justify-content: space-between;
  background: rgb(47, 49, 49);
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: rgba(47, 49, 49, .7);
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.color-dark {
  color: rgba(47, 49, 49, .7);
}

.nav-link-dark:hover {
  color: rgb(249, 87, 50);
}

.nav-link:hover {
  color: rgb(249, 87, 50);
}

.boton-login{
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

.boton-login:hover{
  color: white;
  font-weight: bold;
}
