.vehicles{
  background-color: white;
}

.vehicles h2{
  margin: 0;
  color: rgb(47, 49, 49);
  font-size: 30px;
  font-weight: bold;
}

.vehicles h3{
  margin: 0;
  color: rgb(249, 87, 50);
  font-size: 25px;
  font-weight: bold;
}

.vehicles h4{
  margin: 0;
  color: rgb(249, 87, 50);
  font-size: 20px;
  font-weight: bold;
}

.vehicles h6{
  margin: 0;
  color: white;
}

.vehicles p{
  margin: 0;
  color: white;
}

.vehicles-info{
  background-color: rgb(47, 49, 49);
}
